{
  "exclude": ["node_modules"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": null,
    "target": "es2021",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": "./",
    "paths": {
      "test/*": ["./test/*"]
    }
  },
  "module": { "type": "commonjs" },
  "sourceMaps": true
}
